.btn {
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  border: none;
  cursor: pointer;
background-color: #FF9331;
}

.btn-header {
  
  color: #fff;
 /* text-transform: uppercase; */
  padding: 0.8rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.8rem;
}


.btn-medium {
  
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  font-size: 1.3rem;
}

.btn:hover {
  transform: scaleX(1.2) scaleY(1.1);
}



.btn-medium-ghost {
  background-color: transparent;
 
  padding: 0.6rem 0.6rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  border: 2px solid #FF9331;

  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.btn-nav-bar{
  margin-top: 1rem;
}


