.section-about {
  background-color: #e6e1e1;
  padding: 6rem 4rem;

  height: 100vh;
}

.section-list-data {
  background-color: #f7f7f7;
  /*  background-color:#e6e1e1; */
  padding: 6rem 0;
}

.app-features {
  background-color: #25adad;
  color: #fff;
  padding: 1rem 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem;
}

/*
// .notes {
//   padding: 0.5rem;
//   overflow-y: scroll;
//   display: block;
//   width: 100%;

//   resize: none;
// }

// .notes::-webkit-scrollbar {
//   width: 4px;
//   height: 5px;
// }

// .notes::-webkit-scrollbar-thumb {
//   border: 1px solid #5e5e5e;
//   border-radius: 4px;
//   background-color: #5e5e5e;
//   box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
// }


*/
